# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




 // {
  //   id: 3,
  //   name: 'Delivery Fee Calculator',
  //   description: 'This is the delivery-fee-calculating for food-delivery company. It counts the final price base on the amount of items, distance, and the rush hours.',
  //   tags: ['typescript', 'react', 'form'],
  //   img: url4,
  //   link: "https://leechi-wolt-intern.netlify.app/",
  //   git: 'https://github.com/LeeRichi/deliveryFeeCalculator'
  // },