

.pl {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color:whitesmoke;
  height: 100vh;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 30px;
  font-weight: 600;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 90%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
}